.splide__slide.is-active .slide-content {
  padding: 10px;
  background-color: #122161;
  /* blue-100 */
  border: 2px solid #3b82f6;
  /* blue-500 */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  /* Tailwind's shadow-md */
  transform: scale(1.00);
  transition: all 0.3s ease;
  color: white !important;
  text-align: cente !important;

}

.slide-content{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

}